@import '../abstracts/variables';
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}
@include xl{
    .mainFooter,
            main {
                max-width: 768px;
                margin-left: auto;
                margin-right: auto;
            }
        }
@include xxl{
    body {
        max-width: 1440px;
    }
    .mainFooter,
    main {
        max-width: 1120px;
        margin-right: 0;
    }
}
p {
    white-space: pre-line;
}
.main {
    background-color: $background-color;
}